<section id='wrapper'>
  <header>
    <img alt="Logo" src="/assets/logo.png" class='logo'/>
    <nav>
    </nav>
  </header>
  <section id='carousel'>
    <article id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 800px; height: 300px;">
      <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 300px;
            overflow: hidden;">
        <div><img u="image" src="/assets/raices_escalada.jpg" /></div>
        <div><img u="image" src="/assets/aldo_cima.jpg" /></div>
        <div><img u="image" src="/assets/arbol_raices.jpg" /></div>
        <div><img u="image" src="/assets/senor.jpg" /></div>
      </div>
      <span u="arrowleft" class="jssora03l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
      </span>
      <span u="arrowright" class="jssora03r" style="width: 55px; height: 55px; top: 123px; right: 8px">
      </span>
      <div u="navigator" class="jssorb03" style="position: absolute; bottom: 4px; left: 6px;">
        <div u="prototype" style="position: absolute; width: 21px; height: 21px; text-align:center; line-height:21px; color:white; font-size:12px;"><NumberTemplate></NumberTemplate></div>
      </div>
    </article>
  </section>
  <section id='actions'>
    <figure class='action'>
      <img src='/assets/find.png' alt='find' class='image_action'/>
      <figcaption>Find accomodation and <br/> activities that are right for you.</figcaption>
    </figure>
    <figure class='action'>
      <img src='/assets/book.png' alt='book' class='image_action'/>
      <figcaption>Book your favourite <br/> place.</figcaption>
    </figure>
    <figure class='action'>
      <img src='/assets/experience.png' alt='experience' class='image_action'/>
      <figcaption>Have an amazing <br/> travel experience.</figcaption>
    </figure>
  </section>
  <section id='capture'>
    <div>¿Quieres saber más de nosotros? <br/> Compártenos tu correo. </div><br/>
    <input id='email'></input><br/><br/>
    <button id='registrar'>Registrar</button>
  </section>
  <section id='registro_exitoso'>
    <div>¡Registro exitoso!<br/> Espera noticias de nosotros pronto.</div><br/>
  </section>
</section>
<footer>
  <div id='copyright' class='footer'>UPE Places 2014&nbsp;</div>
  <div id='facebook' class='footer'><a href='https://www.facebook.com/upeplaces' target='_blank' ><img src='/assets/fb.png' alt='FB' class='social'/></a></div>
  <div id='twitter' class='footer'><a href='https://twitter.com/upeplaces' target='_blank' ><img src='/assets/tw.png' alt='TW' class='social'/></a></div>
</footer>
